<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
	<script src="app.js"></script>
</head>
<body>
	<input type='text' id='myname'/>
	<input type='text' id='hisname'/>
	<button id = 'connect'>Connect</button>

	<input type="text" id="sendTo">
	<input type="text" id="message">
	<button id="send">Send</button>
	<div id="chat"></div>
</body>
</html>
